*,
*::before,
*::after{
    box-sizing: border-box;
}
.title{
    font-size: 38px;
    color:#696b61;
    background-color: #fff;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 30px;   
    font-family:  Arial, Helvetica, sans-serif;
    color:#74656a;
    background-color: #feeed5;
    font-weight: bold;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.last-content{
   padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color:#74656a;
    background-color: #feeed5;
    font-weight: bold;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif; 
}
.lable-of-button{
    font-size: 30px;
    color:#8f7d65;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    resize: none;
    color: #8b8482;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 30px;
}
.submit{
    color: #fff;
    background-color: #388db2;
    font-size: 30px;
    font-weight: bold;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
}
/*Изменение цвета при наведении*/
.submit:hover{
   background-color: #206b91; 
}
.textarea{
    border: none;
    display: block;
    width: 100%;
    height: 230px;
    font-size: 30px;
    color: #8b8482;
    padding: 10px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2;
}
::placeholder{
    color:#b7afad;
}
/*placeholder в Firefox*/
::-moz-placeholder{
    color:#b7afad;
}
/*placeholder в Safari и Chrome*/
::-webkit-input-placeholder{
    color:#b7afad;
}
