.table-header{
 color:#ffffff;
background-color: #3598db;
}
.table-odd-content{
color:#000000;
background-color: #eeeeee;
}
.table-even-content{
color:#000000;
background-color: #ffffff;
}
.table{
width: 100%;
height: 100px;
border-collapse: collapse;
border: 1px solid #D4D5D4;
line-height: 2;
font-family: "Calibri", sans-serif;
text-align: left;
font-weight: 100;
font-size: 40px;
font-weight: lighter;
}
td, th{
padding-left: 20px;
}
