*,
*::before,
*::after{
  box-sizing: border-box;
}
.table{
  width: 860px;
  height: 312px;
  border-collapse: collapse;
  border: 2px solid #dadada;
  line-height: 2;
  font-family: "Calibri", sans-serif;
  text-align: left;
  font-size: 21px;
  padding-bottom: 0;
  padding-top: 0;
  margin: auto;
}
.table thead{
  color:#fff;
  background-color: #3598db;
}
.table th{
  border: 2px solid #dadada;
  padding-left: 10px;
}  
.table tb{
  border: 2px solid #dadada;  
  padding-left: 10px;
  line-height: 2;
}
.table tbody tr:nth-child(odd){
  color:#000;
  background-color: #eee;
}
.table tbody tr:nth-child(even){
  color:#000;
  background-color: #fff;
  line-height: 2;
}
